/*
Theme Name: Ripped apart theme for TPF
Theme URI: http://instinct.co.nz
Description: Default Theme
Version: 3.5
Author: Roy Ho / Patrick Murray
Author URI: http://instinct.co.nz
*/

/*
 * If you delete this file, you can expect your WP e-Commerce installation to break in some manner
 * to create your own theme copy, and paste this file, change the names and alter to your tastes
*/
/*-----UTILITY-----*/
.group:after {
	content:" ";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
/*-----IE SPECIFIC STYLESHEET-----*/

/*-----UTILITY-----*/
/* for IE6 */
* html .group {
	height:1%;
}

/* for IE7 */
*:first-childhtml .group {
	min-height:1px;
}
