/*
Theme Name: 	TPF Site
Theme URI: 		http://www.tpffund.org
Description: 	Turkish Philanthropy Funds
Version: 		1.0
Author: 		Thomas McGee, Elif Bayrasli, & Patrick Murray
Author URI: 	http://www.mediahive.com
Tags: 			starkers, naked, clean, basic
*/

/*
===========================
CONTENTS:

01 Sensible defaults
02 Typography
03 Form Styles
04 Begins Styles
05 Media queries
===========================
*/

/* ---------------------------------------------------------------------------------------------------------- 
HTML5 Boilerplate    ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #0098C9; color: #fff; text-shadow: none; }
::selection { background: #0098C9; color: #fff; text-shadow: none; }

a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 20px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid { display: block;  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ---------------------------------------------------------------------------------------------------------- 
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/


@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/oswald/oswald-webfont.eot');
    src: url('../fonts/oswald/oswald-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald/oswald-webfont.woff') format('woff'),
    url('../fonts/oswald/oswald-webfont.ttf') format('truetype'),
    url('../fonts/oswald/oswald-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansRegular';
    src: url('../fonts/droidsans/regular/DroidSans-webfont.eot');
    src: url('../fonts/droidsans/regular/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidsans/regular/DroidSans-webfont.woff') format('woff'),
    url('../fonts/droidsans/regular/DroidSans-webfont.ttf') format('truetype'),
    url('../fonts/droidsans/regular/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    font: normal 13px/ 1.6em 'DroidSansRegular', Helvetica, Arial, sans-serif;
    color: #606060;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'oswaldregular', sans-serif;
    letter-spacing: .04em;
}

h1, h2 {
    line-height: 1.6em;
    margin: 10px 0;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
}

h2 { font-size: 36px; }

h3 {
    font-size: 24px;
    line-height: 1.4em;
}

h3, h4 { color: #6090BF; }

h4 {
    font-size: 18px;
    line-height: 1.4em;

}

h5 {
   font-size: 20px;
   margin: 15px 0;
   text-transform: uppercase;
}

h6 {
    font-size: 18px;
    margin: 30px 0 5px;
}

a:link, a:visited {
    color: #4F81BD;
    text-decoration: none;
}

/*a:hover, a:active {*/
    /*text-decoration: underline;*/
/*}*/

a, a:visited, a:hover, a:active,
a img, a:visited img, a:hover img, a:active img{
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}


a img, a:visited img {

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 7 */
    filter: alpha(opacity=100);

    /* Good browsers */
    opacity: 1;

}

a:hover img, a:active img {

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

    /* IE 7 */
    filter: alpha(opacity=60);

    /* Good browsers */
    opacity: 0.6;

}

#posts-nav-link a, #posts-nav-link a:visited,
input[type="submit"],
a.button:link, a.button:visited, button {
    text-transform: uppercase;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border: none;
    background: #0098C9;
    font-family: Helvetica, Arial, Sans-serif;
}

#posts-nav-link a:hover,
#posts-nav-link a:active,
input[type="submit"]:hover,
a.button:hover, a.button:active,
button:hover, button:active {
    text-decoration: none;
    background: #4F81BD;
}

button.disabled { opacity: 0.6; }

b, strong { color: #333; }

#errorlist li {
    border: 1px solid #ff0000;
    padding: 5px;
    background: #fbe8e8;
    color: #ff0000;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius: 5px;
}

input.error { border: 1px solid #ff0000; }

/* ----------------------------------------------------------------------------------------------------------
03 Form Styles  ---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

.screen-reader-text {
    text-indent: -9999em;
    display: block;
}

/*input[type="submit"] {*/
    /*background: #0098C9;*/
    /*padding: 2px 5px;*/
    /*color: #fff;*/
    /*cursor: pointer;*/
    /*border: none;*/
/*}*/

li.hide,
input.hide,
textarea.hide { display: none; }




/* ----------------------------------------------------------------------------------------------------------
04 Begin Styles ---------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* TPF Color Palette */
/*   #0098C9   */
/*   #4F81BD   */
/*   #000      */
/*   #666      */
/*   #BBB      */
/*   #C9CACB   */
/*   #FFF      */
/*   #ff0000 - Error Messages */

html, body { 
    height: 100%; 
}

.wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

#main {
    margin: 0;
    display: block;
    clear: both;
    float: left;
    width: 100%;
}

.completed #primary,
.completed-projects #primary,
.page-template-3-column-php #primary,
body.projects #primary, .page-template-2-column-php #primary,
.partners #primary, #primary.start-a-campaign,
.social-media #primary, .log-in-to-mytpf #primary,
body.registration #primary, body.campaigns #primary,
.home-page #primary, .archive #primary,
.donate #primary, .archive #primary {
    width: 960px;
    float: left;

}

.completed #primary,
.completed-projects #primary,
body.projects #primary,
.page-template-2-column-php #primary,
.page-template-3-column-php #primary,
#primary.start-a-campaign,
.partners #primary,
.social-media #primary,
.log-in-to-mytpf #primary,
body.registration #primary,
.donate #primary, .archive #primary {
    padding: 0;
    margin: 30px 0;
}

.home-page #primary {
    margin: 0;
    padding-right: 0;
}

.archive #primary {
    margin: 30px 0;
    padding-right: 0;
}

.completed #primary,
.completed-projects #primary,
.archive #primary,
.my-account #primary,
.profile #primary {
    margin: 30px 0;
}

#primary {
    width: 720px;
    padding: 30px 40px 30px 0;
    float: left;
    background-color: #fff;
    min-height: 300px;
}

.column{
    float: left;
    width: 960px;
    height: 100%;
}

#secondary {
    width: 200px;
    float: left;
    margin: 30px 0 30px 0;
}


.my-account #primary,
.profile #primary {
    float: right;
    padding: 0;
}

#sidebar-me{
    width: 150px;
    margin: 0 auto;
}


/* Header */

#header {}


ul.logocontainer{
    padding: 0;
    margin: 15px 0;
    float: left;
    list-style: none;
}

li.logosubheader{
    padding: 5px 0 5px 0;
}

li.logosubheader a{
    text-decoration: none;
    color: #606060 !important;
    font: italic 14px georgia, serif;
}


#logo a {
    width: 214px;
    height: 65px;
    display: block;
    background: url(../images/logo.png) no-repeat;
    text-indent: -9999em;
}

ul#menu-top_nav,
ul#menu-top_nav blockquote{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-top_nav-container {
    position: absolute;
    top: 5px;
    right: 0;
}

#top_login{
    float: right;
    margin: 15px 0;
    padding: 0;
    width: 200px;
}

#top_login form{
    margin: 15px 0 0 0;
    width: 200px;
}

#top_login #logged_in{
    margin: 0 0 20px 0;
    position: absolute;
    top: 15px;
    right: 0;
    text-align: right;
}


#top_login p.login-submit{
    float: right;
    padding: 0;
    margin: 5px 0 5px 0;
}

#top_login p.login-remember{
    float: right;
    margin: 5px 0 5px 0;
    padding: 0;
}

#top_login p.login-username{
    margin: 5px 0 5px 0;
    text-align: right;
}

p.login-username label, p.login-password label{
    float: left;
}

#top_login p.login-password{
    margin: 5px 0 5px 0;
    text-align: right;
}

#top_login p {
    display: block;
    float: none;
    clear: both;
    margin: 3px 0;
}

#top_login input#user_pass.input, #top_login input#user_login.input {
    width: 125px;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.login-submit #wp-submit {
    padding: 8px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


#donate {
    width: 154px;
    height: 174px;
    background-position: right;
    position: fixed;
    display: block;
    top: 185px;
    right: 0px;
    z-index: 999;
}


/* Menu */

#access {
	clear: both;
	display: block;
    height: 40px;
    /*background: url(../images/nav_bg.png);
    background-repeat:repeat-x; */
    background: #0098C9;
    width: 100%;
    text-transform: uppercase;
    font-family: 'oswaldregular', sans-serif;
}

#access table{
    margin: 0;
    padding: 0;
    border: 0;
    width: auto;
}

ul#menu-top_nav table td,
#access table td{
    margin: 0;
    padding: 0;
    display: block;

}


#access li + li {
    background: url(../images/divider.png) no-repeat;
}


#access table tr{
    margin: 0;
    padding: 0;
    display: block;
}

#access blockquote{
    margin: 0;
    padding: 0;
    display: block;

}

#access ul {
    height: 40px;
	font-size: 13px;
	list-style: none;
	padding-left: 0;
}

ul#menu-top_nav li,
#access li {
	float: left;
	position: relative;
}


ul#menu-top_nav a,
#access a {
	color: #fff;
	display: block;
	line-height: 40px;
	padding: 0 18px;
	text-decoration: none;
}

#access ul ul {
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 0;
	width: 190px;
	z-index: 99999;
}

#access ul ul ul {
	left: 100%;
	top: 0;   
}

#access ul ul a {
	background: #ccc;
	color: #444;
	font: normal 12px 'DroidSansRegular', Helvetica, Arial, sans-serif;
	height: auto;
	line-height: 1.4em;
	padding: 6px 10px;
	width: 168px;
    text-transform: uppercase;
}

#access li:hover > a,
#access ul ul :hover > a,
#access a:focus, #access li:hover > blockquote > table > tbody > tr > td > a {
	background: #00759b !important;
    color: #fff;    
}

#access li:hover > a,
#access a:focus {
	background: #00759b!important; 
	color: #fff;
}



#access .sub-menu > .current_page_ancestor > blockquote > table > tbody > tr > td > a,
#access .sub-menu > .current_page_item > blockquote > table > tbody > tr > td > a,
#access .sub-menu > .current-menu-item > blockquote > table > tbody > tr > td > a{
    background: url(../images/Navigation-active-bg.png);
    background-color: #ccc;
}

#access .current_page_ancestor > blockquote > table > tbody > tr > td > a, 
#access .current-menu-item > blockquote > table > tbody > tr > td > a{
        background-color: #0098C9;
        background: url(../images/Navigation-active-bg.png);
}

#access ul li:hover > ul {
	display: block;
}

iframe#twttrHubFrameSecure,
iframe#twttrHubFrame { display: none !important; }


/* Sidebar */

ul.widget-buttons,
ul.widget-buttons li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.widget-buttons li.clear {
    display: none;
}


/* Home Page Content */

#hero {
    background: url(../images/bg.png) repeat;
}

#hero h1 {
    color: #fff;
    margin: 0;
    padding: 15px 0;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

#donate a {
    font-size: 20px;
    font-weight: bold;
}

.tubepress_thumb img,
.tubepress_thumb{
    width: 200px !important;
    height: 150px !important;
}

.tubepress_thumb {
    margin: 0 15px;
    border: 2px solid #333;
}

/* Page Content */

#primary h5{
    margin: 30px 0 10px 0;
    padding: 0;
} 

#primary h4{
    margin: 10px 0;
    padding: 0;
} 

#primary p{
    margin: 15px 0 15px 0;
    padding: 0;
}

#submenu h6 {
    font: normal 18px 'oswaldregular', sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
}

#submenu {
    float: right;
    position: relative;
    margin: 30px 0 10px;
    width: 200px;
    height: 100%;
}

#submenu ul{
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    background: #f6f6f6;
}

#submenu li a {
    background: #f6f6f6;
    border-bottom: 1px dotted #999;
    display: block;
    padding: 12px 5px;
    font: italic 12px/normal georgia, serif;
    letter-spacing: 0.09em;
}

#submenu ul.children {
    margin: 5px 0 0 0;
    padding: 0 0 0 10px;
}

#submenu ul.children li a {
    border-bottom: 1px dotted #ccc;
    color: #74a5e1;
}

#submenu li.current_page_item a,
#submenu ul.children li.current_page_item a{
    color: #333;
}

#submenu h2{ font-size: 26px; }

.coloredlist{
    color: #4F81BD;
}

.listtext{
    color: #000;
}


/* Two Column Page Template */

.page-template-2-column-php .column {
    background: none;
    width: 450px;
}

.page-template-2-column-php .column img {
    width: 450px;
}

.page-template-2-column-php #column-one {
    margin-right: 50px;
}


/* Three Column Page Template */

.page-template-3-column-php .column {
    background: none;
    width: 300px;
}

.page-template-3-column-php .column img {
    width: 300px;
}

.page-template-3-column-php #column-one,
.page-template-3-column-php #column-two {
    margin-right: 25px;
}


/* Dynamic Content Slider */

.jdGallery .slideInfoZone h2 {
    text-transform: uppercase;
    opacity: 1 !important;
}

.imageElement p, .imageElement h3{
    margin: 0;
    padding: 0;
    float: left;
}

.imageElement{
    overflow: hidden;
}


.jdGallery .slideInfoZone {
    width: 380px !important;
    left: 8px !important;
    bottom: 8px !important;

    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px 20px 5px;

    /* Firefox 1-3.6 */
    -moz-border-radius: 5px 20px 5px;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 5px 20px 5px;

    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.6);

    border: 1px solid #666;
}


/* Template Causes Page */

#causes_page{
    margin: 30px 0;
    padding: 0;
 
}

#causes_page .content {
    margin: 30px 0;
}

.single_cause-content{
    padding: 10px;
}

.single_cause-text h3, .cause-text h4{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 28px;
}

.single_cause-text h3 {
    color: #666;
}


.single_cause-text{
    float: left;
    width: 220px;
    margin-top: 20px;
}

.single_cause-image{
    display: block;
    float: left;
    width: 180px;
    height: 185px;
    padding: 20px 20px 0 20px;
    text-align: center;
}

.single_cause-donate h6{
    font-size: 15px;
    margin: 10px 0 10px 0;
}

.single_cause{
    width: 100%;
    border-top: 1px solid #eee;
    display: inline-block;
    border-collapse: collapse;
}

.cause_info{
    width: 500px;
    float: left;
    margin: 0;
    padding: 0;
}

.recent_projects{
    height: 180px;
    width: 420px;
    margin: 20px 0 20px 10px;
    padding: 0;
    float: left;
}

.recent_projects p{
    margin: 0;
    padding: 0;
}

.recent_projects ul{
    margin: 0 0 0 20px;
    list-style: disc;
    padding: 0;
    color: #4f81bd;
}

li > span {
    color: #666;
}

.single_cause-content > a {
    text-transform: uppercase;
    float: right;
}

 .single_cause-excerpt{
    padding: 5px 0 10px;
    margin: 10px 0;
    color: #666;
    font-size: 12px;
}

.general_cause{
    padding: 0;
    margin: 0;
    background: #eee;
    height: 82px;
}

.general_cause h5{
    padding: 15px 0 0 10px;
    float: left;
}

.general_cause img{
    padding-top: 15px;
    float: left;
}
 

/* Featured nav on front page */

#featured {
       width: 960px;
       height: 350px;
       padding: 0;
}

#featured ul{
    padding: 0;
}

.featured_spot li.first {
    margin-left: 0;
}

.featured_spot li {
    margin: 10px 0 10px 30px;
    list-style: none;
}

.featured_spot strong {
    display: block;
    text-align: center;
    padding: 10px 0px 10px 0px;
    font: 16px 'oswaldregular', sans-serif;
    border-top: double #c9cacb;
    border-bottom: double #c9cacb;
    color: #4F81BD;
}

.featured_spot li{
    float: left;
    width: 300px;
}

.featured_spot li .callout-img,
.featured_spot li .description {
    margin: 15px 0;
}

.featured_spot li .description {
    height: 105px;
}

.featured_spot li .callout-img {
    width: 295px;
    height: 112px;
    overflow: hidden;
}

.featured_spot li.philanthropist .callout-img {
    background: url(../images/philanthropist.png) no-repeat center center;
}

.featured_spot li.cause .callout-img {
    background: url(../images/cause.png) no-repeat center center;
}

.featured_spot li.partner .callout-img {
    background: url(../images/partner.png) no-repeat center center;
}

#infographic {
    border-top: 1px solid #c9cacb;
    border-bottom: 1px solid #c9cacb;
    width: 100%;
    height: 103px;
    display: block;
    clear: both;
    margin: 50px 0;
}

#infographic h3 {
    text-transform: uppercase;
    float: left;
    color: #666;
    border-right: 1px solid #c9cacb;
    padding: 5px 22px 5px;
    margin: 10px 0;
    font-size: 22px;
    line-height: 30px;
}

#infographic h3.last {
    border-right: none;
    padding: 8px 0 5px 22px;
    font-size: 36px;
    line-height: 40px
}

#infographic h3 span {
    font-size: 40px;
    line-height: 45px;
    clear: both;
    display: block;
}

#infographic h3.last span {
    font-size: 22px;
    line-height: 30px;
}




/* Causes Box */

h3.blue { color: #4f81bd; }

.blue { color: #4f81bd; }


/* Causes Map */

#map_canvas {
    width: 940px;
    height: 400px;
    border: 10px solid #333;
}

#projects_list {
    background: #333;
    padding: 15px 10px;
}

#projects_list h3 {
    text-transform: uppercase;
    color: #fff;
    margin: 5px 0;
}

#projects_list ul,
#projects_list li {
    list-style: none;
    padding: 0;
}

#projects_list li.project {
    display: none;
}

#projects_list li p {
    color: #ccc;
}

#projects_list li figure {
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #000;
}


/* Persons*/

.person_content img{
    float: left;
    padding: 15px;
}


/* Projects */

#gallery { background: rgba(0, 0, 0, 0.2); }
.single-project #iview .iview-controlNav .iview-items ul { width: auto; }
.single-project #iview .iview-controlNav { left: 0; }
.single-project #iview .iview-controlNav div.iview-items { width: 960px; }
.single-project #iview .iview-controlNav a.iview-controlPrevNav { left: 0; }
.single-project #iview .iview-controlNav a.iview-controlNextNav { right: 20px; }
.single #gallery .iviewSlider { background-color: rgba(0, 0, 0, 0.2) !important; }

#tiles { position: relative; }

body.projects article.project,
.start-a-campaign article.project,
.completed-projects article.project,
body.completed article.campaign,
body.campaigns article.campaign,
.archive article.project {
    padding: 10px;
    margin: 0 10px 10px 0;
    width: 290px;
    float: left;
    background: #f7f7f7;
    border-bottom: 10px solid #fff;
}

body.completed article.campaign,
body.campaigns article.campaign {
    padding-bottom: 30px;
}

body.projects article.project figure,
.start-a-campaign article.project figure,
.completed-projects article.project figure,
body.completed article.campaign figure,
body.campaigns article.campaign figure,
.archive article.project figure {
    width: 285px;
    height: 126px;
    border: 2px solid #bbb;
    overflow: hidden;
}

body.projects article.project figure img,
.start-a-campaign article.project figure img,
.completed-projects article.project figure img,
body.completed article.campaign figure img,
body.campaigns article.campaign figure img,
.archive article.project figure img {
    width: 300px;
    height: 133px;
}


.archive article.project .start-campaign-button {
    margin-top: 15px;
}

body.projects article.project .author,
.start-a-campaign article.project .author,
.completed-projects article.project .author,
body.completed article.campaign .author,
body.campaigns article.campaign .author,
.archive article.project .author {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

body.projects article.project .author a,
.start-a-campaign article.project .author a,
.completed-projects article.project .author a,
body.completed article.campaign .author a,
body.campaigns article.campaign .author a,
.archive article.project .author a {
    font-weight: normal;
}

body.projects article.project .content,
.start-a-campaign article.project .content,
.completed-projects article.project .content,
body.completed article.campaign .content,
body.campaigns article.campaign .content,
.archive article.project .content {
    margin: 10px 0;
}

.campaign .visit {
    display: block;
    background: #ddd;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.campaign .visit:hover {
    background: #666;
    color: #fff;
}

.archive .project footer,
.single .timeline {
    letter-spacing: 1px;
}

.single #primary .timeline {
    margin: 10px 0 30px;
}

.project footer p span,
.single .timeline span {
    font-weight: bold;
}

.project .content div {
    margin-bottom: 30px;
}

.project .content div.first h3 {
    margin-top: 0;
}

.author-info {
    background: #eee;
    padding: 10px;
}

.author-info figure {
    width: 150px;
    width: 150px;
    border: 5px solid #bbb;
    margin: 0 auto;
}

.author-info h4 {
    width: 160px;
    margin: 10px auto;
}

body.single-project .iview-caption h2 {
    font-size: 48px;
    color: #0098C9;
}


/*.single-project figure.image {*/
    /*float: left;*/
    /*margin: 0 5px 5px 0;*/
    /*border: 2px solid #bbb;*/
    /*width: 135px;*/
    /*height: 100px;*/
    /*overflow: hidden;*/
/*}*/

.single-project #primary .article {
    margin: 0 0 40px;
}

.start-campaign-button,
.add-video-button {
    margin: 0 0 10px;
}

.profile .campaign .add-video-button {
    margin: 10px 0;
}

.start-campaign-button a.button {
    display: block;
}

.campaign-count {
    font-size: 12px;
    margin-bottom: 10px;
    background: #eee;
    padding: 10px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .06em;
}

.campaign-count span {
    color: #4F81BD;
    font-size: 14px;
    font-weight: bold;
}

.campaign-count strong {
    color: #666;
    font-weight: normal;
    font-size: 13px;
}

.start-campaign-button button {
    width: 100%;
    font: normal 13px/ 1.6em 'DroidSansRegular', Helvetica, Arial, sans-serif;
}

#secondary .add-video-button .button {
    display: block;
    padding: 10px 10px;
}

.sharrre .button{
    float:left;
    width:60px;
}


#share-campaign {
    padding-left: 40px;
    background: url(../images/email_icon.png) center left no-repeat;
    text-transform: uppercase;
    font-family: Helvetica, Arial, Sans-serif;
}

#share-contact-form {
    width:460px;
    position:relative;
}

#share-contact-form h3 {
    text-transform: uppercase;
    margin: 5px 0;
}

#share-contact-form input[type='email'],
#share-contact-form input[type='text'],
#share-contact-form textarea,
#share-contact-form label {
    font-size: 15px;
    margin-bottom:2px;
}

#share-contact-form input[type='email'],
#share-contact-form input[type='text'],
#share-contact-form select,
#share-contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}

#share-contact-form select {
    width: 150px;
}

#share-contact-form input:focus,
#share-contact-form select:focus,
#share-contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}

#share-contact-form textarea {
    height:80px;
    resize: none;
}

#share-contact-form label {
    display:block;
}

#share-contact-form .required {
    font-weight:bold;
    color:#F00;
}

#share-contact-form #submit-button {
    width: 100px;
    /*background-color:#333;*/
    /*color:#FFF;*/
    border:none;
    display:block;
    float:right;
    /*margin-bottom:0px;*/
    /*margin-right:6px;*/
    /*background-color:#8FB5C1;*/
    /*-moz-border-radius:8px;*/
}

/*#share-contact-form #submit-button:hover {*/
    /*background-color: #A6CFDD;*/
/*}*/

/*#share-contact-form #submit-button:active {*/
    /*position:relative;*/
    /*top:1px;*/
/*}*/

#share-contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../images/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}

#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../images/cancel_48.png) no-repeat 405px center;
    display:none;
}

#errors li {
    padding:2px;
    list-style:none;
}

#errors li:before {
    content: ' - ';
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';
}

#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../images/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;
}

#req-field-desc {
    font-style:italic;
}

#email-form .info {
    padding: 0;
    margin: 0 10px 3px;
    background: none;
    border: none;
    font-size: 11px;
    color: #666;
    letter-spacing: 0.06em;
}



/* Latest Videos */

#latestvideo_container{
    float: left;
    background: url(../images/bg.png) repeat;
    width: 100%;
}

#latestvideo_container .overlay {
    background: rgba(0, 0, 0, 0.2);
    height: 275px;
}

#latestvideo_header{
    padding: 10px 37px 5px 15px;
}

#latestvideo_container h2{
    float: left;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #fff;   
}

#latestvideo_container h4{
    float: right;
    padding: 0;
    margin: 26px 0 0 0;
    text-transform: none;
    color: #0098c9;
    font: italic normal 17px 'DroidSansRegular', Helvetica, Arial, Sans-serif;
}

span.blue{
    color: #0098c9;
}

.tubepress_thumb a{
    width: 100px;
    height: 100px;
    background: url(../images/playbutton.png) no-repeat;
    z-index: 999;
}

.tubepress_thumb .tubepress_meta_title a {
    background: none;
}

/* Media Template */

#mediacontent{
    text-align: center;
    margin: 0 auto;
}

#morevideos, #morephotos{
    width: 320px;
    float: left;
    text-align: center;
    margin: 0;
}

#morevideos h4, #morephotos h4{
    padding: 0;
    margin: 0;
}

#morephotos img, #morevideos img{
    padding: 5px;
    background-color: #E6E6E6;
    border: 2px solid #000;
}

/* Documents Template */

.documents > p{
  border-bottom: 2px solid #0098C9; 
}



/* Photos */

.photo_gallery_thumbs{
    
}

.photo_gallery_thumbs img{
    float: left; 
}

.photo_gallery{
    width: 720px;
    display: block;
    float: left;
    border-bottom: 2px solid #0098C9;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}

.gallerythumb{
    margin: 5px;
    padding: 10px;
    background-color: #E6E6E6;
}

.back{
    padding-left: 5px;
}

.more{
    float: right;
    padding-right: 5px;
}

/* Newsletter */

.single-newsletter ul.wpuf_customs,
.single-newsletter ul.wpuf_customs ul {
    margin: 0;
    padding: 0;
}

.newsletter .download,
.single-newsletter footer {
    padding: 10px 20px;
    background: #eee;
    margin: 30px 0;
}

.single-newsletter footer a {
    font-size: 16px;
}

.newsletter article.newsletter .content {
    margin: 10px 0;
}

.newsletter article.newsletter {
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

.newsletter article.newsletter h6 {
    margin: 5px 0 10px;
    line-height: 1.6em;
}

.single-newsletter #share ul,
.single-newsletter #share li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single-newsletter #share li {
    width: 38px;
    height: 38px;
    float: left;
    margin: 10px 10px 10px 0;
}

.single-newsletter #share {
    height: 80px;
    margin-bottom: 40px;
}


/* Shadowbox */

#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(../images/shadowbox/loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(../images/shadowbox/close.png);}
#sb-nav-next{background-image:url(../images/shadowbox/next.png);}
#sb-nav-previous{background-image:url(../images/shadowbox/previous.png);}
#sb-nav-play{background-image:url(../images/shadowbox/play.png);}
#sb-nav-pause{background-image:url(../images/shadowbox/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}



/* TPF Profile page */

.bp-user #secondary {
    margin-top: 0;
}

.bp-user #subnav {
    width: 300px;
}

.bp-user #object-nav,
.bp-user #subnav {
    margin: 0;
    display: block;
    clear: both;
    letter-spacing: 1px;
}

.bp-user #object-nav  ul,
.bp-user  #subnav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.bp-user #object-nav li {
    width: 100%;
}

.bp-user #object-nav li a {
    font: 18px 'oswaldregular', Helvetica, Arial, Sans-serif;
    padding: 10px 20px;
    display: block;
    background: #4f81bd;
    z-index: 50;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.bp-user #object-nav li a:hover {
    background: #fff;
    color: #4f81bd;
    border:none;
}

.bp-user #object-nav li.current a {
    /*border: 1px solid #4f81bd;*/
    /*border-bottom: 1px solid #666;*/
    background: #fff;
    z-index: 100;
    color: #4f81bd;
    border: none;
}

.bp-user #subnav {
    padding: 0 30px;
    width: 680px;
    position: absolute;
    top: -61px;
    left: -40px;
}

.bp-user #subnav li {
    display: inline-block;
    margin: 0;
}

.bp-user #subnav li a {
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
}

.bp-user #subnav li.selected a,
.bp-user #subnav li a:hover { background: #4f81bd; }

.bp-user #primary {
    position: relative;
}

.bp-user #primary .content {
    float: left;
    z-index: 50;
}

.bp-user #item-header {
    height: 240px;
}

.bp-user #item-header-content {
    float: left;
    color: #fff;
    width: 690px;
}

.bp-user #item-header-content .info {
    border: 1px solid #fff;
    background: #333;
}

.bp-user #item-header-content h2 {
    text-transform: uppercase;
}

.bp-user #item-header-content.partner h2 {
    font-size: 24px;
    margin-top: 25px;
}

.bp-user #item-header-avatar {
    width: 200px;
    height: 240px;
    float: left;
    margin: 0 30px 0 0;
    background: rgba(0, 0, 0, 0.2);
}

.bp-user #item-header-avatar a {
    display: block;
    margin: 30px auto 0 auto;
    width: 160px;
}

.bp-user #object-nav {
    background: #4F81BD;
    padding: 30px 0;
}

.bp-user #item-header-avatar img {
    border: 5px solid #4F81BD;
    margin: 0 auto;
}

.bp-user h6 {
    margin: 10px 0;
    color: #bbb;
}

.bp-user h6.raise-amount,
.bp-user #campaign h4 {
    margin: 10px 0;
    color: #666;
}

.bp-user #personalize p,
.bp-user #personalize .raise-amount,
.bp-user #personalize textarea { margin: 10px 0; }

body.profile #primary h3 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #666;
}

.profile .bp-widget .label {
    width: 150px;
    color: #999;
    text-align: right;
}

.bp-user #campaign h3 {
    text-transform: uppercase;
    font-size: 28px;
    margin: 0 0 20px;
}

#campaign .info {
    margin: 15px 0 30px;
    background: transparent;
    border: none;
    padding: 0;
}


.profile table.profile-fields {
    width: 720px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

#primary .profile table.profile-fields p { margin: 0; }
#primary .profile table.profile-fields tr { border-top: 1px solid #ccc; }
#primary .profile table.profile-fields td { padding: 10px 0 10px 0; }
#primary .profile table.profile-fields td.data { padding: 10px 0 10px 20px; }

#primary .profile table.profile-fields td.data div {
    padding: 0 0 0 20px;
    border-left: 1px solid #ccc;
}

.profile #profile-edit-form .button-nav li { display: none; }

.profile #profile-edit-form .button-nav li.Basic,
.administrator .profile #profile-edit-form .button-nav li.Partner,
.trustedpartner .profile #profile-edit-form .button-nav li.Partner,
.partner .profile #profile-edit-form .button-nav li.Partner,
.administrator .profile #profile-edit-form .button-nav li.Campaigner,
.campaigner .profile #profile-edit-form .button-nav li.Campaigner,
.donor .profile #profile-edit-form .button-nav li.Campaigner,
.donor .profile #profile-edit-form .button-nav li.Donor { display: block; }

.directory #primary div.item-list-tabs,
.directory #primary div#subnav { display: none; }

#members-directory-form #members_search_submit,
#members-directory-form label { display: inline-block; }

#members-directory-form #members_search_submit {
    padding: 5px 10px;
    float: right;
}

body.profile article.project,
body.profile article.campaign {
    border-top: 1px solid #ccc;
    margin: 20px 0;
    padding-top: 20px;
}

body.profile article.project figure {
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 20px 30px 0;
    border: 1px solid #333;
}

body.profile #primary article.project .content {
    float: none;
}

body.profile h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
}

body.profile .progress h6 {
    margin: 42px 0 10px;
}

.bp-user .progress {
    margin-bottom: 30px;
    clear: both;
}

.profile article.project footer .button {
    margin-right: 20px;
}

.profile #photos .project,
.profile #photos ul {
    float: left;
    clear: both;
    display: block;
    width: 100%;
}

.profile #photos .project {
    margin-top: 0;
    width: 720px;
}

.profile #photos ul,
.profile #photos li {
    list-style: none;
    padding: 0;
}

.profile #photos li {
    width: 132px;
    height: 132px;
    float: left;
    margin: 0 5px 5px 0;
    overflow: hidden;
}

.profile #photos li img {
    border: 1px solid #333;
    width: 130px;
    height: 130px;
}

.profile #videos ul,
.profile #videos li {
    list-style: none;
    padding: 0;
}

.profile #videos .project,
.profile #videos .campaign {
    display: block;
    clear: both;
    float: left;
    width: 720px;
}

.profile #videos li {
    position: relative;
    width: 230px;
    height: 129px;
    float: left;
    margin: 0 10px 10px 0;
}

.profile #videos li .overlay,
.profile #videos li .image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.profile #videos li .overlay {
    z-index: 2;
}

.profile #videos li .image {
    z-index: 1;
}

.profile #fundraiser .column {
    background: transparent;
    width: 215px;
    margin-right: 35px;
}

.profile #fundraiser #column-three {
    margin-right: 0;
}

.profile #fundraiser .column em {
    color: #888;
}


/* Edit Profile Page */

.profile ul.button-nav {
    margin: 0;
    padding: 0;
}

.profile ul.button-nav li {
    float: left;
    margin: 0 20px 30px 0;
}

.profile ul.button-nav li a {
    color: #4F81BD;
    padding: 5px 10px;
    display: inline-block;
}

.profile ul.button-nav li a:hover {
    color: #fff;
    background: #4F81BD;
}

.profile ul.button-nav li.current a {
    color: #fff;
    background: #333;
}

#settings-form .editfield,
.profile form .editfield {
    margin: 10px 0 30px;
}


#settings-form .editfield label,
.profile form .editfield label {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    width: 200px;
    text-align: right;
    border-right: 1px solid #ccc;
    color: #999;
}

#settings-form .editfield.password label {
    height: 100px;
}

#settings-form .editfield input,
.profile form .editfield input {
    width: 300px;
}

.profile form .editfield .field-visibility-settings-notoggle,
#settings-personal-li { display: none; }

#settings-form .submit input,
.profile form .submit input {
    float: right;
}

#settings-form, .profile form {
    width: 600px;
}


/* Campaigns */

.page-sub-nav {
    background: rgba(0, 0, 0, .3);
}

.page-sub-nav li {
    display: inline-block;
}

.page-sub-nav li a {
    padding: 10px 20px;
    color: #fff;
    display: block;
    line-height: 12px;
}

.page-sub-nav li.active a,
.page-sub-nav li a:hover{
    background: #4f81bd;
    color: #fff;
}

/* Campaign */

body.campaign h1 span {
    font-size: 24px;
    line-height: 1.2em;
    display: block;
    color: #0098c9;
}

#campaign .info p {
    margin: 10px 0;
}

.campaign {
    position: relative;
}

.campaign footer {
    margin: 20px 0;
}

.campaign footer .info {
    background: transparent;
    padding: 0;
    border: none;
}

.donate-campaign input[type='submit'] {
    background: none;
    padding: 0;
    margin: 15px 0 0;
    color: #4F81BD;
    text-transform: none;
}

.donate-campaign input[type='submit']:hover {
    color: #0098C9;
}

.complete-campaign input,
.complete-campaign button {
    display: inline-block;
}

.complete-campaign label {
    margin: 0 15px 0 5px;
}

.complete-campaign button {
    padding: 5px 20px;
}

.bp-user .campaign .progress {
    margin: 30px 0;
}

.bp-user #primary .campaign .content {
    width: 720px;
    float: none;
}

.bp-user .campaign .content .button {
    display: block;
    max-width: 200px;
}

form.complete-campaign,
form#complete-campaigns,
.delete-campaign {
    background: #eee;
    border: 1px solid #b8b8b8;
    padding: 5px 10px;
}

#primary .delete-campaign p {
    margin: 0;
}

form#complete-campaigns {
    margin-bottom: 10px;
}

.completed .campaign .delete {
    bottom: 40px;
}

#personalize_campaign .info,
#edit_campaign .info {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: #666;
}

.raise-amount span,
.raise-amount input#amount {
    display: inline-block;
}

form .heading {
    font: normal 16px 'oswaldregular',sans-serif;
    text-transform: uppercase;
    margin: 30px 0 5px;
    display: block;
    color: #999;
    letter-spacing: 0.05em;
}

.campaign .edit-campaign {
    margin: 20px 0;
}

.campaign .edit-campaign a {
    display: block;
}


/* Footer */

article.post {
    margin: 30px 0 70px 0;
    padding: 20px 0;
    border-top: 1px solid #666;
}

article.post.first {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

article.post .content {
    margin: 20px 0;
}

#posts-nav-link  {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

article.post footer {
    margin: 20px 0 0;
}

article.post footer ul.post-categories {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}

ul.post-categories li {
    border-right: 1px solid #666;
    display: inline-block;
    padding: 0 10px;
}

ul.post-categories li:first-child {
    padding-left: 0;
}

ul.post-categories li:last-child {
    border-right: none;
}

#secondary ul li.categories ul,
#secondary ul li.categories {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Blog */

.newsletter .wrapper,
.blog .wrapper {
    position: relative;
}

.newsletter .wrapper .rss,
.blog .wrapper .rss {
    position: absolute;
    top: 16px;
    right: 35px;
    color: #d35f09;
    font-size: 16px;
}

article.post footer a {
    font: italic 12px georgia, serif;
    letter-spacing: 0.08em;
}

#secondary ul li.categories ul {
    background: #f6f6f6;
    padding: 10px;
}

#secondary ul li.categories ul li {
    border-bottom: 1px dotted #ccc;
    padding: 8px 0;
    color: #999;
    letter-spacing: 0.07em;
}

#secondary ul li.categories ul li a {
    font: italic 12px georgia, serif;

}

/* Blog Comments */


.comment-form-comment label{
    display: block;
}

#comments, #respond{
    border-top: solid 2px #0098c9;
}



#comments ol li{
    margin: 15px 0 15px 0;
    padding: 10px 10px 10px 20px;
    background-color: #E6E6E6;
    list-style: none;
}

#comments img{
    float: left;
    margin: 0px 20px 10px 0;
}

/* Footer */

#footer {
    background: #666;
    color: #fff;
    padding: 20px 0 10px;
    text-align: left;
    clear: both;
    margin: 0 auto;
}

.footer-links{
    padding: 6px;
    width: 690px;
    float: left;
    font-family: 'oswaldregular', sans-serif;
}

#footer blockquote{
    margin: 0;
    padding: 0;
}

#footer p.copy{
    margin: 0;
    padding: 10px 0;
    width: 100%;
    display: block;
    clear: both;
    text-align: right;
    font: italic 11px georgia, serif;
    letter-spacing: 0.09em;
}


/* Footer Category Headers */

.menu-footer-container ul.menu > li.menu-item{
   text-transform: uppercase;
   font-size: 14px;
   margin: 5px;
   float: left;
   width: 30%;
}

.menu-footer-container ul.menu li {
    margin: 5px 0;
}

.menu-footer-container ul.menu li.menu-item a, .menu-footer-container ul.menu li.menu-item a:visited{
    color: #fff;
    font-size: 16px;
    display: block;
    margin: 5px 0;
    letter-spacing: .08em;
}

.menu-footer-container ul.menu li.menu-item a:hover, .menu-footer-container ul.menu li.menu-item a:active{
    color: #c9cacb;
}


/* Footer Subcategories*/

.menu-footer-container ul.sub-menu li.menu-item a, .menu-footer-container ul.sub-menu li.menu-item a:visited{
    color: #c9cacb;
    font: italic normal 12px georgia, serif;
    text-transform: none;
    margin: 0;
    letter-spacing: 0.08em;
}

.menu-footer-container ul.sub-menu li.menu-item a:hover, .menu-footer-container ul.sub-menu li.menu-item a:active{
    color: #fff;
}


/* Footer Contact Widget */

#footer_widget{
    padding: 11px;
    float: right;
}

#footer_widget h3{
    color: #fff;
    padding: 0;
    margin: 0;
}

#contact_badges{
    padding: 5px 0 20px 0;
}

#contact_badges img{
    padding: 0 15px 0 0;
}

#contact_us{
    padding: 10px 0 0 0;
    color: #c9cacb;
    font: italic normal 12px/1.4em georgia, serif;
    letter-spacing: 0.09em;
}



/* -------------- User Registration Forms */
.log-in-to-mytpf #login-form label,
#register-page #signup_form label {
    width: 180px;
    float: left;
    margin-right: 10px;
}

.log-in-to-mytpf #login-form label {
    width: 100px;
}

.log-in-to-mytpf #login-form p,
#register-page #signup_form p {
    margin-bottom: 5px;
}

.log-in-to-mytpf #login-form .login-submit {
    text-align: right;
    margin-right: 5px;
}

.log-in-to-mytpf #login-form,
#register {
    width: 400px;
    float: left;
}

#login-form,
.register-section {
    padding: 10px 20px;
    background: #eee;
    margin: 15px 0;
    -webkit-border-radius: 12px;
    -moz-border-radius:    12px;
    border-radius: 12px;
}

.register-section .field-visibility-settings-notoggle {
    display: none;
}

#register-page #signup_form #profile-details-section label {
    width: 150px;
}

.log-in-to-mytpf #login-form {
    width: 315px;
    padding: 20px;
}


.register-section h4 {
    margin: 5px 0;
}

.log-in-to-mytpf .message,
.registration .message {
    width: 500px;
    float: right;
    margin-top: 57px;
}

.log-in-to-mytpf .message {
    margin-top: 11px;
}

.log-in-to-mytpf #primary .message p,
.registration #primary .message p {
    margin-bottom: 15px;
}

.log-in-to-mytpf .message p strong,
.registration #primary .message p strong {
    margin-right: 20px;
}

#register input[type="submit"]{
    margin-left: 20px;
}

#recaptcha_table,
#security-section .error,
#signup_form .error {
    display: block;
    clear: both;
}


/* Members */


.directory .item-list-tabs,
.directory #subnav { display: block; }

#pag-bottom{
    float: left;
    width: 100%;
    padding: 5px 0 0 0;
    border-top: solid 2px #0098C9;    
}

.members ul#members-list,
.members ul#members-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.members ul#members-list li {
    width: 250px;
    float: left;
    margin: 10px 10px 10px 0;
}

.members ul#members-list li .item-avatar {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 10px 10px 0;
}

#members-dir-list{
    border-bottom: solid 2px #0098C9;
}

#members-dir-search{
    float: right;
}

.item-list-tabs ul{
    list-style: none;
}


/* Partners */

#partners ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#partners ul li.first {
    margin-left: 0;
}

#partners ul li {
    float: left;
    width: 175px;
    margin: 0 0 15px 20px;
}

#partners li figure {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 5px solid #bbb;
}

#partners li p {
    height: 90px;
}


/* Start A Campaign Featured Projects */

#featured-projects header {
    position: relative;
    margin-top: 30px;
}

#featured-projects header a.viewall {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 15px;
    text-transform: uppercase;
}

article.project .start-campaign-button a {
    width: 100%;
    line-height: 12px;
    display: block;
    padding: 10px 0;
}

.dupeproject{
    color: #FF0000;
    
}


/* About Us */

.about-us h6 {
    color: #000;
    font: 15px 'DroidSansRegular', Helvetica, Arial, sans-serif;
}

/* Reports */
.project-reports h6 {
    margin-top: 15px;
}

.project-reports h2 {
    background: #eee;
    padding: 5px;
}

/* Statements */

table.fundowner_statements{
    width: 100%;
}

table.fundowner_statements, table.fundowner_statements tr, table.fundowner_statements td{
    border: 1px solid #4F81BD;
    padding: 10px;
}


/* Preview Slider Gallery Style */
.loader{
    width:70px;
    height:70px;
    position:fixed;
    top:50%;
    left:50%;
    margin:-35px 0px 0px -35px;
    opacity:0.7;
    z-index:1000;
    background:#fff url(../images/loader.gif) no-repeat center center;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    -moz-box-shadow:0px 0px 5px #999;
    -webkit-box-shadow:0px 0px 5px #999;
    box-shadow:0px 0px 5px #999;
}


.ps_container{
    display:none;
    width:960px;
    height:425px;
    margin: 0 auto;
    position:relative;
    background: url(../images/bg.png) repeat;
}
.ps_image_wrapper{
    width: auto;
    height:425px;
    overflow:hidden;
    position:relative;
    margin:0 auto;
}
.ps_image_wrapper img{
    position:absolute;
    left:0px;
    top:0px;
    height: 425px;
}
.ps_prev,
.ps_next{
    width:37px;
    height:37px;
    position:absolute;
    top:50%;
    margin-top: -15px;
    cursor:pointer;
    opacity:0.5;
    background: transparent url(../images/arrows.png) no-repeat top center;
}
.ps_prev{
    background-position: 0 0;
    left: 15px;
}
.ps_next{
    background-position: -60px 0;
    right: 15px;
}
.ps_prev:hover,
.ps_next:hover{
    opacity:0.9;
}
ul.ps_nav{
    list-style:none;
    padding:0;
    min-width: 200px;
    max-width: 900px;
    width:auto;
    margin: -30px auto 0;
    position:relative;
}
ul.ps_nav li{
    float:left;
}

ul.ps_nav:hover li a {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 7 */
    filter: alpha(opacity=80);

    /* Good browsers */
    opacity: 0.8;
}

ul.ps_nav li a{

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 7 */
    filter: alpha(opacity=50);

    /* Good browsers */
    opacity: 0.5;

    display: inline-block;
    text-indent:-9000px;
    width:11px;
    height:11px;
    outline:none;
    padding:0px 4px;
    background:transparent url(../images/bullets.png) no-repeat top center;
}

ul.ps_nav li a:hover,ul.ps_nav li.selected a{
    background-position:50% -12px;
}
ul.ps_nav li.ps_preview{
    display:none;
    width:144px;
    height:110px;
    top:-120px;
    left:-34.5px; /*First item, next ones is leftDot - 0.5*wThis + 0.5*wDot, i.e. second one is (16 - 42.5 + 8) = -18.5 */
    position:absolute;
    background: url("../images/tooltip.png") no-repeat 0 0 transparent;
    padding: 10px 10px;
}

.ps_preview_wrapper{
    width:124px;
    height:84px;
    overflow:hidden;
    position:relative;
    border-radius: 2px;
}

.ps_preview_wrapper img{
    position:absolute;
    top:0px;
    left:0px;
}

#widget {
    width: 244px;
    height: 250px;
    float: left;
    margin-right: 20px;
}

#widget textarea {
    color: #666;
    border: 1px solid #666;
    outline: none;
}

#link {
    width: 400px;
    float: left;
    margin: 20px 0;
}

#social{
    float:left;
    margin: 10px 0 30px;
}
.sharrre{
    margin:0 20px 0 0;
    float:left;
}
.sharrre .box a:hover{
    text-decoration:none;
}
.sharrre .count {
    color:#525b67;
    display:block;
    font-size:18px;
    font-weight: bold;
    line-height:40px;
    height:40px;
    position:relative;
    text-align:center;
    width:70px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:1px solid #b2c6cc;
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top, #fbfbfb 0%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.sharrre .count:before, .sharrre .count:after {
    content:'';
    display:block;
    position:absolute;
    left:49%;
    width:0;
    height:0;
}
.sharrre .count:before {
    border:solid 7px transparent;
    border-top-color:#b2c6cc;
    margin-left:-7px;
    bottom: -14px;
}
.sharrre .count:after {
    border:solid 6px transparent;
    margin-left:-6px;
    bottom:-12px;
    border-top-color:#fbfbfb;
}
.sharrre .share {
    color:#FFFFFF;
    display:block;
    font-size:12px;
    font-weight: bold;
    text-transform: uppercase;
    height:30px;
    line-height:30px;
    margin-top:8px;
    padding:0;
    text-align:center;
    text-decoration:none;
    width:70px;
    letter-spacing: 1px;
}
#twitter .share {
    border:2px solid #bbbbbb;
    background: #9ae4e8;
}
#facebook .share {
    border:2px solid #bbbbbb;
    background: #006699; /* Old browsers */
}
#googleplus .share {
    border:1px solid #262626;
    background: #6d6d6d; /* Old browsers */
    background: -moz-linear-gradient(top, #6d6d6d 0%, #434343 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(100%,#434343)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* IE10+ */
    background: linear-gradient(top, #6d6d6d 0%,#434343 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#434343',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #929292 inset;
}


.progress {
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 50px;
    
}

.progress #total,
.progress .total {
    position: absolute;
    left: 10px;
    display: block;
    padding-top: 5px;
    color: #FFF;
}

.progress #progress_bar,
.progress .progress_bar {
    background-color: #606060;
    border: solid 2px #606060;
    width: 100%;
    height: 25px;
    display: block;
    border-radius: 15px;
    -moz-border-radius: 15px;
    overflow: hidden;
}

.progress #progress_raised,
.progress .progress_raised {
    display: block;
    float: left;
    background-color: #0098C9;
    height:25px;
}

/* Donate Page */

.donate ul.wpuf-attachments { display: none; }

body.donate #primary .content {
    margin-top: 40px;
    border-top: 1px solid #999;
    padding-top: 30px;
}

body.donate #primary .content p {
    font-size: 16px;
    line-height: 1.5em;
}

input.hidebuybutton{
    display: none !important;
}

td.wpsc_product_image{
    display: none !important;
}

label.donatelabel{
    margin-right: 5px;
    float: left;
}

.wpsc_checkout_table tr.hide { display: none !important; }

.wpsc_buy_button_container{
    margin: 20px 0 0 0;
}

#sideshoppingcart{
    margin: 20px 0 0 0;
}

.donationbg{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background: #E6E6E6;
    border: 1px solid ##4F81BD;
}

.donateside h6{
    margin-top: 0px;
}

#sideshoppingcart h3{
    display: none !important;
}

.shoppingcart table{
    width: 100%;
    text-align: left;
}

.shoppingcart table td{
    width: 75%;
    text-align: left;
}

p.validation-error{
    color: red !important;
    margin: 5px 0 5px 0 !important;
}


body.checkout #submenu, body.donations #submenu, body.transaction-results #submenu {
    display: none !important;
}

.checkout_cart{
    width: 100%;
    text-align: left;
    background-color: #E6E6E6;
}

.checkout_cart td{
    padding: 10px;
}

.wpsc_make_purchase{
    position: relative;
    margin-top: 30px;
}

select .current_region{
    margin: 5px 0 25px 0;
}

td.wpsc_product_name{
    vertical-align: middle;
    text-align: center;
}

td.wpsc_product_price{
    vertical-align: middle;
    text-align: center;
}

td.wpsc_gateway_container{
    padding-top: 50px;
}

table.wpsc_checkout_table td{
    padding: 1px 0 1px 0;
}

#region_select_7{
    margin-bottom: -20px;
}

.requirednotice{
    font-size: 10px;
    margin: 5px;
}

.billing_region{
    display: none;
}

table.wpsc_checkout_table td{
    width: 170px;
}

.wpsc_email_address {
    display: none;
}

.wpuf_customs{
    padding: 0;
    margin: 0;
}

.wpsc_checkout_table tr{
    display: table-row !important;
}

.wpsc_product_price input{
    display: inline;
    color: #b0b0b0;
    text-align: center;
}

.wpsc-transaction-results-wrap{
     background-color: #E6E6E6;
    padding: 5px;
}
.wpsc-transaction-results-wrap p{
    margin: 0 0 0px 0 !important;
}

.wpsc-purchase-log-transaction-results{
    width: 100%;
    margin-top: 20px;
    text-align: left;
   
}

.wpsc-purchase-log-transaction-results th{
    color: #4F81BD;
    font-weight: bold;
    text-align: left;  
}

.wpsc-purchase-log-transaction-results th, .wpsc-purchase-log-transaction-results td{
    padding: 5px;
}

input.dollarsignbg{
   text-align: right;
   width: 70px;
   background:transparent url(../images/dollarsign.png) no-repeat top left;
}

table.suggesteddonations tr td{
    padding-right: 10px;
}

.donatecontent{
    width: 350px;
    float: left;
    padding:10px;
}

.donateside{
    padding: 10px;
    width: 330px;
    float: left;
}

.remove_button{
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: underline !important;
    color: #606060 !important;
    text-align: right !important
}

.shoppingcart table tbody{
    display: block;
    background-color: #E6E6E6;
    padding: 5px;
}

span.cart_message{
    color: red !important;
}

.checkoutbtn{
    text-align: right !important;
    text-transform: uppercase;
}


/* Accordion Styles */


#donateAccordion{ display: none;}

figcaption {
    padding: 10px 15px;
    margin: 0 10px 5px 10px;
    position: absolute;
    bottom: 5px;
    z-index: 3;
    background: black;
    background: rgba(0,0,0,0.6);
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 1px;
}

#donateAccordion figcaption p a {
    text-decoration: underline;
}

#donateAccordion input[type="submit"]{
    background: transparent;
    color: #4F81BD;
    padding: 0;
    text-transform: none;
    text-decoration: underline;
}

.liteAccordion { text-align: left; font: 'Helvetica Neue', Verdana, Arial, sans-serif; -webkit-tap-highlight-color: transparent }
.liteAccordion > ol { position: relative; overflow: hidden; height: 100%; margin: 0; padding: 0; list-style-type: none }
.liteAccordion .slide > h2 {
    color: black;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden; /* fixes chrome bug */
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
}
.liteAccordion .slide > h2 span {
    display: block;
    padding-right: 5%;
    text-align: right;
    height: 90%;
    margin-top: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.liteAccordion .slide > h2 b {
    display: inline-block;
    position: absolute;
    top: 13%;
    left: 10%;
    text-align: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.liteAccordion .slide > h2:hover { cursor: pointer }
.liteAccordion .slide > div { height: 100%; position: absolute; top: 0; z-index: 10; overflow: hidden; background: white }
.liteAccordion .ap-caption { padding: 10px 15px; position: absolute; bottom: 20px; right: 30px; z-index: 3; background: black;
    background: rgba(0,0,0,0.7); color: white; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px }
.liteAccordion noscript p { padding: 10px; margin: 0; background: white }

/****************************************** Basic */
.liteAccordion.basic .slide > h2 { background: #333; color: white; line-height: 225% }

/****************************************** Dark */
.liteAccordion.dark {
    border: 9px solid #353535;
    border-bottom-width: 8px;
    padding: 5px 5px 6px 0;
    background: #030303;
    -webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
}
.liteAccordion.dark .slide > h2 { background: #030303; text-shadow: 0 -1px 0 #030303; line-height: 265% }
.liteAccordion.dark .slide > h2 span { background: #353535; color: white }
.liteAccordion.dark .slide > h2 b { background: #353535; color: #030303; text-shadow: -1px 1px 0 #5b5b5b }
.liteAccordion.dark .slide > h2.selected span, .liteAccordion.dark .slide > h2.selected span:hover {
    background: #353535;
    background: -moz-linear-gradient(left,  #353535 0%, #555555 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#353535), color-stop(100%,#555555));
    background: -webkit-linear-gradient(left,  #353535 0%,#555555 100%);
    background: -o-linear-gradient(left,  #353535 0%,#555555 100%);
    background: -ms-linear-gradient(left,  #353535 0%,#555555 100%);
    background: linear-gradient(left,  #353535 0%,#555555 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#555555',GradientType=1 );
}
.liteAccordion.dark .slide > h2.selected b {
    background: #383838;
    background: -moz-linear-gradient(top,  #3a3a3a 0%, #363636 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3a), color-stop(100%,#363636));
    background: -webkit-linear-gradient(top,  #3a3a3a 0%,#363636 100%);
    background: -o-linear-gradient(top,  #3a3a3a 0%,#363636 100%);
    background: -ms-linear-gradient(top,  #3a3a3a 0%,#363636 100%);
    background: linear-gradient(top,  #3a3a3a 0%,#363636 100%);
}
.liteAccordion.dark .slide > div { background: #030303; margin-left: 5px }

/***************************************** Light */
.liteAccordion.light {
    padding: 5px;
    background: #fff;
    -webkit-box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
    -o-box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
    box-shadow: -1px -1px 0 #c0c0c0, 1px 1px 0 #c0c0c0, 0 5px 15px rgba(0, 0, 0, 0.4);
}
.liteAccordion.light .slide > h2 {
    background: #fff;
    text-shadow: 0 -1px 0 #000;
    line-height: 265%
}

.liteAccordion.light .slide > h2.selected {
    background: #333;
}

.liteAccordion.light .slide > h2 span {
    background:  #4F81BD;
    color: #fff;
    text-transform: uppercase;
}
.liteAccordion.light .slide > h2 b { background: #ffffff; color: #909090; text-shadow: -1px 1px 0 white }
.liteAccordion.light .slide > h2.selected span, .liteAccordion.light .slide h2.selected span:hover, .liteAccordion.light .slide > h2.selected b {
    background: #333;
    color: #4F81BD;
}
.liteAccordion.light .slide > div { background: #333; margin-left: 5px }

/**************************************** Stitch */
.liteAccordion.stitch {
    position: relative;
    padding: 5px 0 5px 5px;
    border: 11px solid #353535;
    background: #353535;
    -webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
}
.liteAccordion.stitch:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -9px;
    left: -9px;
    background: #353535;
    border: 9px solid transparent;
    -webkit-border-image: url('bg_stitch.png') 9 repeat;
    -moz-border-image: url('bg_stitch.png') 9 repeat;
    -o-border-image: url('bg_stitch.png') 9 repeat;
    border-image: url('bg_stitch.png') 9 repeat;
}
.liteAccordion.stitch .slide > h2 { background: #353535 }
.liteAccordion.stitch .slide > h2 span {
    height: auto;
    padding-right: 5%;
    color: white;
    text-shadow: -1px 1px 0 #5b5b5b;
    border: 9px solid transparent;
    background-image: url('bg_noise.png');
    margin-top: 0;
    -webkit-border-image: url('bg_stitch.png') 9 repeat;
    -moz-border-image: url('bg_stitch.png') 9 repeat;
    -o-border-image: url('bg_stitch.png') 9 repeat;
    border-image: url('bg_stitch.png') 9 repeat;
}
.liteAccordion.stitch .slide > h2.selected:after {
    content: '';
    display: block;
    height: 11px;
    width: 11px;
    position: absolute;
    bottom: -3px;
    right: 38px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    border: 9px solid transparent;
    border-top: 0;
    border-left: 0;
    -webkit-border-image: url('bg_stitch.png') 9 repeat;
    -moz-border-image: url('bg_stitch.png') 9 repeat;
    -o-border-image: url('bg_stitch.png') 9 repeat;
    border-image: url('bg_stitch.png') 9 repeat;
    background-image: url('bg_noise.png');
}

.liteAccordion.stitch .slide:nth-child(1) > h2 span, .liteAccordion.stitch .slide:nth-child(1) > h2:after { background-color: #c25252 }
.liteAccordion.stitch .slide:nth-child(2) > h2 span, .liteAccordion.stitch .slide:nth-child(2) > h2:after { background-color: #ca9859 }
.liteAccordion.stitch .slide:nth-child(3) > h2 span, .liteAccordion.stitch .slide:nth-child(3) > h2:after { background-color: #96ba5f }
.liteAccordion.stitch .slide:nth-child(4) > h2 span, .liteAccordion.stitch .slide:nth-child(4) > h2:after { background-color: #59abb7 }
.liteAccordion.stitch .slide:nth-child(5) > h2 span, .liteAccordion.stitch .slide:nth-child(5) > h2:after { background-color: #bb6098 }
.liteAccordion.stitch .slide > h2 b { top: 19%; color: white; text-shadow: 1px 1px 0 #5b5b5b }
.liteAccordion.stitch .slide > div { margin-right: 6px }
.liteAccordion.stitch.rounded > ol { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0 }

/*************************************** Rounded */
.liteAccordion.rounded, .rounded > ol { -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px }
.liteAccordion.rounded .slide > h2 span { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px }

/******************************************** IE */
/* stitch */
.liteAccordion.ie.stitch .slide > h2 { line-height: 265% }
.liteAccordion.ie.stitch .slide > h2 span { height: 89%; padding-right: 8% }
.liteAccordion.ie.stitch .slide > h2.selected:after { display: none }
.liteAccordion.ie.stitch .slide-0 > h2 span { background-color: #c25252 }
.liteAccordion.ie.stitch .slide-1 > h2 span { background-color: #ca9859 }
.liteAccordion.ie.stitch .slide-2 > h2 span { background-color: #96ba5f }
.liteAccordion.ie.stitch .slide-3 > h2 span { background-color: #59abb7 }
.liteAccordion.ie.stitch .slide-4 > h2 span { background-color: #bb6098 }

/* transforms */
.liteAccordion.ie7 .slide > h2 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3) }
.liteAccordion.ie7 .slide > h2 b { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1) }
.liteAccordion.ie8 .slide > h2 { filter: none; -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; -ms-transform: none }
.liteAccordion.ie8 .slide > h2 b { filter: none; -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"; -ms-transform: none }
.liteAccordion.ie9 .slide > h2 { filter: none; -ms-filter: none; -ms-transform: translateX(-100%) rotate(-90deg); -ms-transform-origin: right top }
.liteAccordion.ie9 .slide > h2 b { filter: none; -ms-filter: none; -ms-transform: rotate(90deg) }

/* misc */
.liteAccordion.ie .slide > h2 b { top: 36%; left: 5% }
.liteAccordion.ie.dark .slide > h2 b, .liteAccordion.ie.light .slide > h2 b { top: 44% }
.liteAccordion.ie9.dark .slide > h2.selected span, .liteAccordion.ie9.dark .slide > h2.selected span:hover, .liteAccordion.light .slide > h2 span { filter: none }
.liteAccordion.ie9.stitch { box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); }
.liteAccordion.ie9.stitch .slide > h2 b { top: 0; left: 10% }


/* Donors */
div.donors .list
{
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}


div.donors .list table
{
	width: 100%;
}

div.donors .list td{
	border-top: 1px solid #ddd;
	padding: 8px;
}

div.donors .list th{
	padding: 5px;
}

div.donors .list .donor
{
	width: 60%;
	text-align: left;
	padding-left: 30px;
}

div.donors .list .donation
{
	width: 20%;
	text-align: center;
}

div.donors .list .date
{
	width: 20%;
	text-align: center;
}

div.capture_email{
	width: 920px;
    margin: 40px auto 20px;
    padding: 20px;
	height: 60px;
    background: #f8f8f8;
	clear: both;
}

div.capture_email H4{
    float: left;
    font-size: 26px;
    margin: 10px 0 0 0;
}

div.capture_email #snsf-wrapper form#snsf-form {
	width: 920px;
}

div#snsf-wrapper {
	position: relative;
	margin-top: -30px;
}

div.capture_email #snsf-wrapper div,
div.capture_email #snsf-wrapper label,
div.capture_email #snsf-wrapper input {
    float: left;
    margin-left: 20px;
}

div.capture_email #snsf-wrapper input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

div.capture_email input#snsf-submit-button {
    margin-left: 60px;
    float:  left;
    position: relative;
    margin-top: 10px;
    padding: 8px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}


/* ---------------------------------------------------------------------------------------------------------- 
05 Media queries (using a mobile-first approach) ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* 400 and up */
@media screen and (min-width:400px) {

					{ /* Place your styles here for all widths greater than 400px */ }

}

/* Retina Display */
@media screen and (-webkit-min-device-pixel-ratio:2) {

					{ /* Place your styles here for all 'Retina' screens */ }

}



.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}

/* Cem: Updating Cart animation fix */
.wpsc_loading_animation{visibility:hidden;}